.next
.idea
.bin
.env
/dist
/gen
/logs
.vercel
debug.log
/.cache
.PID

.vscode
.gitlab-secrets

node_modules/
/.gradle/

devops
.devops/.temp/

# proto
/.proto_vendor
/api/*
!/api/*.*
!/api/*_v1
!/api/*_v2
